body {
  margin: 0;
  font-family: droid sans, sans-serif;
}
nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #888888;
}
nav ul li {
  flex: 1;
}
nav ul li a {
  box-sizing: border-box;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 0.8em 0;
  border-bottom: 3px solid transparent;
}
nav ul li a.active {
  background-color: #eeeeee;
  border-bottom: 3px solid #888;
}
.smap .gps {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(0, 168, 255, 0.7);
  border: 1px solid #fff;
  box-shadow: 0 0 2px #00a8ff;
}
.smap [id$="-3"] img {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 3px;
  background-color: #fff;
}
.smap .hud label {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2px;
}
#list li {
  list-style: none;
  cursor: pointer;
  line-height: 2;
}
#list li img {
  margin-right: 0.3em;
  vertical-align: middle;
}
#detail .unavailable {
  text-decoration: line-through;
}
#detail h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#detail h2 img {
  vertical-align: middle;
  margin-right: 0.3em;
}
#detail table td:first-child {
  font-weight: bold;
}
#detail table td:first-child::after {
  content: ":";
}
#detail #distance {
  font-size: 150%;
  text-align: center;
  margin: 1em 0;
}
#detail #distance:not(:empty)::before {
  content: "Distance: ";
}
#detail #compass {
  margin: 1.5em auto;
  position: relative;
  width: 50vw;
  height: 50vw;
  border: 1px solid #000;
  border-radius: 50%;
  box-shadow: 0 0 10px #333;
}
#detail #compass > div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#detail #compass .arrow::before {
  content: "▲";
  position: absolute;
  left: 0;
  top: -1.1em;
  font-size: 200%;
  width: 100%;
  text-align: center;
  color: #f00;
}
#detail #compass .smap {
  border-radius: 50%;
  /* webkit bug: when child has transform, this parent stops overflowing. adding transform to parent fixes the issue. */
  transform: scale(1);
}
#detail #compass .smap .hud {
  display: none;
}
#status li {
  list-style: none;
}
#status li::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 1px solid #000;
  border-radius: 50%;
  margin-right: 0.3em;
}
#status li.good::before {
  background-color: #0f0;
}
#status li.bad::before {
  background-color: #f00;
}
#status li.waiting::before {
  background-color: #ff0;
}
#status li span:not(:empty)::before {
  content: "(";
}
#status li span:not(:empty)::after {
  content: ")";
}
#log {
  font-family: monospace;
  font-size: 85%;
}
#log .debug {
  color: #666;
}
#log .error {
  color: #c00;
}
