.smap {
	.gps {
		box-sizing: border-box;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: rgba(0, 168, 255, 0.7);
		border: 1px solid #fff;
		box-shadow: 0 0 2px rgb(0, 168, 255);
	}
	
	[id$="-3"] img {
		cursor: pointer;
		border: 1px solid black;
		border-radius: 3px;
		background-color: #fff;
	}

	.hud label {
		box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
		border-radius: 2px;
		background-color: rgba(255, 255, 255, 0.7);
		padding: 2px;
	}
}

