nav ul {
	@color: #888;

	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid @color;

	li {
		flex: 1;

		a {
			box-sizing: border-box;
			display: block;
			text-align: center;
			text-decoration: none;
			padding: 0.8em 0;
			border-bottom: 3px solid transparent;

			&.active {
				background-color: lighten(@color, 40%);
				border-bottom: 3px solid #888;
			}
		}
	}
}
